.menu{
  width: 100%;
  transform-origin: 0 0;
  transition-duration: 0.30s;
  height: 0;
  transform: scaleY(0);
  // z-index: 1000;
  // margin-top: 6%;
  position: static;
}
  
.menu > a > *{
  border-radius: 10px;
  border: 1px solid #D8CEB3;
  
  background: #E7DEC6;
  color: #000;

  font-family: Istok Web;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  padding: 25px 50px;

  flex-shrink: 0;
  align-items: center;
}