.answer{
    background-color: #FFC528;
    margin-left: -15px;
    padding: 14px;
    margin-top: 14px;

    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border-radius: 10px;
}