.a > *{
    border-radius: 10px;
    border: 1px solid #D8CEB3;
    
    background: #E7DEC6;
  
    color: #000;
  
    font-family: Istok Web;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    // line-height: normal;
  
    padding: 50px 50px;
  
    flex-shrink: 0;
  
    align-items: center;
    // margin-bottom: 5px;

    position: inherit;
    z-index: 1000000;
  }