// @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
  font-family: 'Pacifico', cursive;
}
body{

  width: 100%; 
  padding: 0;
  margin: 0;
  background: #F0EBD8;
  font-family: Istok Web;
}

@tailwind base;
@tailwind components;
@tailwind utilities;